.content{
    background: url("../../asset/images/li914.jpg") no-repeat;
    background-size: 150px;
    width: 1200px;
    height: 720px;
    font-size: 24px;
    background-color: #6bf51c;
    margin: 10px auto;
}
.content p{
    padding-top: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
}
.content img{
    display: block;
    margin: 0px auto;
    width: 120px;
}
